.about-header {
	font-family: var(--header-font);
}

.about-paragraph {
	color: var(--inactive-text);
}

.main-page-container {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

.sections-right {
	scroll-snap-align: top;
	scroll-snap-stop: 0px;
}

.arrow-left,
.learn-more-link {
	transition: all 0.1s ease-in-out;
}

.learn-more-container:hover .arrow-left {
	transform: translateX(0.3rem);
	filter: none;
}

.learn-more-container:hover .learn-more-link {
	transform: translateX(0.4rem);
	color: var(--text-highlight);
}

@media (max-width: 1028px) {
	.about-header-container {
		margin-bottom: 1.5rem;
	}

	.about-header {
		font-size: 1.2rem;
	}

	.about-paragraph {
		font-size: calc(1.3rem / 1.6);
		margin-bottom: 1.8rem;
	}

	.learn-more-link {
		font-size: calc(1.2rem / 1.6);
		color: var(--text-highlight);
	}

	.learn-more-container {
		gap: 0.4rem;
	}

	.arrow-left {
		height: calc(20px / 1.6);
		filter: none;
	}
}
