.icon-img {
	transition: all 0.1s ease-out;
}

.icon-img:hover {
	transform: translateY(-0.3rem);
	filter: none;
}

.download-resume-text,
.icon-arrow {
	color: var(--inactive-text);
	transition: all 0.1s ease-out;
}

.resume-download-container:hover .download-resume-text {
	transform: translateX(0.2rem);
	color: var(--text-highlight);
}

.resume-download-container:hover .icon-arrow {
	transform: translateY(-0.2rem) translateX(0.2rem);
	filter: none;
}

@media (max-width: 1028px) {
	.resume-download-container {
		gap: 0.1rem;
	}

	.download-resume-text {
		font-size: calc(20px / 1.6);
	}

	.icon-arrow {
		height: calc(20px / 1.6);
	}

	.social-section-container {
		gap: 0.5rem;
	}

	.social-medias {
		gap: 0.5rem;
	}

	.icon-img {
		height: calc(32px / 1.6);
	}
}
